<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body>

    <!-- Navigation -->
    {% include 'bannernav.html' %}



    <!-- All Items in a Category -->
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-4 col-md-4 sidebar">
          {% for category in categorys %}
          <div class="post-preview">
            <a href="{{ url_for('catalog', category_id=category.id) }}">
              <h3>
                {{ category.categoryname }}
              </h3>
            </a>
          </div>
          {% endfor %}
        </div>
        <div class="col-lg-6 col-md-6 mx-auto">
          {% for item in items %}
          <div class="post-preview">
            <h4>
              {{ item.name }}
            </h4>
            <h6>
              <a href='{{url_for('editItem', category_id = category.id, catalog_id=item.id ) }}' >Edit</a>
              &nbsp&nbsp&nbsp
              <a href='{{url_for('deleteItem', category_id = category.id, catalog_id=item.id ) }}' >Delete</a>
            </h6>
          </div>
          {% endfor %}
          <hr>
          <!--<div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Items &rarr;</a>
          </div>-->
        </div>
        <div class="col-lg-1 col-md-1"></div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src=" {{ url_for('static', filename='clean-blog.min.js') }}"></script>


  </body>

</html>
